.map-container {
    width: 100%;
    height: calc(100vh - 60px); /* Resta el espacio del header */
}

.map-background-pane {
    z-index: 0; /* Pane del fondo */
}

.map-geojson-pane {
    z-index: 500; /* Pane para la capa GeoJSON */
}
