.map-container {
    height: 90vh;
    width: 100%;
    position: relative;
}

.map-background-pane {
    z-index: 0; /* Pane del fondo */
}

.map-geojson-pane {
    z-index: 500; /* Pane para la capa GeoJSON */
}
